body {
	background-color: lightskyblue;
}

h1 {
	background-color: wheat;
	display: inline-block;
	border-radius: 10px;
	padding: 0 10px;
}

h2 {
	margin: 0;
}

.shadow {
	box-shadow: 0 0 10px grey;
}

#container {
	width: 660px;
	text-align: center;
	margin: auto;
}

#field {
	border: 1px solid black;
	width: 500px;
	height: 500px;
	margin: auto;
	background-color: white;
}

#controls {
	display: grid;
	grid-template-columns: 15% 15% auto 20%;
	grid-template-rows: auto auto;
	grid-column-gap: 10px;
	grid-row-gap: 10px;
	background-color: wheat;
	border-radius: 10px;
	padding: 10px;
	margin-top: 20px;
}

#clear {
	grid-area: 1 / 1 / 3 / 2;
	align-self: center;
}

#slider {
	grid-area: 2 / 3 / 3 / 4;
	background-color: white;
	border-top: 18px solid tan;
	border-bottom: 18px solid tan;
	border-left: 10px solid tan;
	border-right: 10px solid tan;
	box-sizing: border-box;
	position: relative;
}

#slider div {
	height: 20px;
	width: 10px;
	border: 1px solid gray;
	position: absolute;
	right: 50%;
	top: -9px;
	background-color: white;
}

#size {
	grid-area: 1 / 2 / 3 / 3;
	align-self: center;
}

#erase {
	grid-area: 1 / 4 / 2 / 5;
	text-align: left;
	padding-left: 10px;
	padding-right: 5px;
	line-height: 29px;
}

#color {
	grid-area: 2 / 4 / 3 / 5;
	text-align: left;
	padding-left: 10px;
}

#opacity_header {
	grid-area: 1 / 3 / 2 / 4;
	align-self: center;
}

button {
	background-color: tan;
	border-radius: 10px;
	height: 40px;
}

.tg_background {
	display: inline-block;
	width: 60%;
	height: 29px;
	background-color: lightgray;
	border-radius: 5px;
	float:right;
	padding: 2px;
	box-sizing: border-box;
}

.tg {
	width: 25px;
	height: 25px;
	background-color: white;
	border-radius: 5px;
	float: left;
}

.tg_background:hover .tg {
	background-color: tan;
}